<section class="md:p-8">
    <div class="md:pt-20">
        <a class="flex py-2 items-center" href="/">
            <span class="w-5">
                <img src="/img/right.png" class="w-full" alt="">
            </span>
        </a>
    </div>

    <div class="grid grid-cols-2 gap-3 md:grid-cols-4 md:p-0">
        <% layanan.forEach(e=> { %>
            <a class="flex flex-col items-center md:max-w-xs p-5 m-1 text-center shadow" href="/layanan/<%= e.id %>">
                <h1 class="text-lg font-bold">
                    <%= e.judul %>
                </h1>
            </a>
            <% }) %>
    </div>
</section>