<section class="pb-64 flex">
    <div class="max-w-4xl text-left px-5">
        <div class="md:pt-20">
            <a class="flex py-2 items-center" href="/layanan">
                <span class="w-5">
                    <img src="/img/right.png" class="w-full" alt="">
                </span>
            </a>
        </div>
        <h1 class="my-7">
        </h1>

        <div id="body__layanan" class="">
            <%= layanan.body %>
        </div>
    </div>

</section>